*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'open Sans', sans-serif;
}
nav,ul{ list-style: none;
}
a{  text-decoration: none; 
    cursor: pointer;
    
}
a:hover{
    opacity: 0.8;
}

body {
  font-size: 14px;
}
main._background{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(/Assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh
}

._container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 50%;
    width: 80%;
}

._mobile-phone-container{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex:2;
    flex-direction: column;
    background-color: #003142;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem 0 0 0.5rem ;
    padding: 2rem ;
    background-image: url(/Assets/iPhone\ Mockup.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1._title{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

h2._subtitle{
    font-size: 1rem;
    color: #fff;
    font-weight: lighter;
}


._form-container{
    flex:2;
    height:100%;
    max-height: 100%;
    padding: 2rem ;

}

h1._form-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

._field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
}

._field label{
    font-weight: bold;
}

._field input{
    height: 2.5rem;
    width: 100%;
    margin-top:0.5rem;
    border:solid 1px #e5e5e5;
    border-radius:0.2rem;
    padding: 1rem;
}

._checkbox-field{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%; 
    margin-bottom: 2rem;
}
._checkbox-field label{
    margin-left: 0.5rem;
}
._checkbox-field label a{
    color: #003142;
    text-decoration: underline;
    font-weight: bold;
}

button._submit-button{
    background-color: #003142;
    height: 2.5rem;
    width: 100%;
    color: #fff;
    border: none;
    border-radius:0.2rem;
    margin: 2rem 0;
}

@media (max-width: 600px){
    ._container{
    flex-direction: column;
    }
}